name: build

on:
    push:
        branches: [ "main" ]
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup JDK
              uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: 17

            - name: Grant gradlew permission
              run: chmod +x gradlew

            - name: Build plugin
              run: ./gradlew build
              
            - name: Upload final build
              uses: actions/upload-artifact@v4
              with:
                  name: plugin_build
                  path: app/build/**
